*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 26px;
  margin: 0;
  padding: 30px;
}

.link {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 15px 25px;
  text-transform: uppercase;
}

.link--1 {
  color: #435a6b;
}

.link--1::before {
  content: "[";
  left: -7px;
}

.link--1::after {
  content: "]";
  right: -7px;
}

.link--1::before,
.link--1::after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease 0.1s;
}

.link--1:hover::before,
.link--1:focus::before {
  opacity: 1;
  transform: translateX(-9px);
  transition: opacity 0.1s ease, transform 0.3s ease 0.1s;
}

.link--1:hover::after,
.link--1:focus::after {
  opacity: 1;
  transform: translateX(9px);
  transition: opacity 0.3s ease, transform 0.3s ease 0.1s;
}

.link--2 {
  color: #f19f0f;
  padding: 8px 0;
}

.link--2::before {
  content: "";
  background-color: #d88f0d;
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.link--2:hover::before,
.link--2:focus::before {
  opacity: 1;
  transform: translateY(0);
}

.link--3 {
  color: rgba(205, 68, 54, 0);
  padding: 0 4px;
  height: 1em;
  /*  */
  overflow: hidden;
}
/*  */
.link--3::before {
  content: attr(data-before);
  position: absolute;
  left: 0;
  top: 0;
  color: #cd4436;
  transition: transform 0.3s ease;
}
/*  */
.link--3::after {
  content: attr(data-after);
  color: #cd4436;
  font-weight: bolder;
  position: absolute;
  left: 0;
  bottom: -30px;
  transition: transform 0.3s ease;
}
/*  */
.link--3:hover::before,
.link--3:focus::before {
  transform: translateY(-30px);
}
/*  */
.link--3:hover::after,
.link--3:focus::after {
  transform: translateY(-25px);
}

.link--4 {
  color: #435a6b;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
/*  */
.link--4::before,
.link--4::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 45px;
  background-color: #435a6b;
  opacity: 0.2;
  transition: transform 0.3s ease, opasity 0.3s ease;
}
/*  */
.link--4::before {
  left: 0;
  top: 0;
}
/*  */
.link--4::after {
  right: 0;
  top: 0;
}
/*  */
.link--4:hover::before,
.link--4:focus::before {
  transform: translate(82px,-50%) rotate(-90deg);
  opacity: 1;
}
/*  */
.link--4:hover::after,
.link--4:focus::after {
  transform: translate(-82px, 50%) rotate(-90deg);
  opacity: 1;
}

.link--5 {
  padding: 10px 20px;
  color: #0e83cd;
}
/*  */
.link--5::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 5px;
  width: 100%;
  height: 100%;
  border: 3px solid #0e83cd;
  opacity: 0;
  transition: opacity 0.3s ease 0.1s, transform 0.3s ease;
}
/*  */
.link--5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #435a6b;
  transition: opacity 0.3s ease 0.1s, transform 0.3s ease;
}
/*  */
.link--5:hover::before {
  opacity: 1;
  transform: translate(-5px, 5px);
  transition: opacity 0.3s ease 0.1s, transform 0.3s ease;
}
/*  */
.link--5:hover::after {
  opacity: 0;
  transform: translate(-5px, 5px);
  transition: opacity 0.5s ease 0.1s, transform 0.5s ease;
}
/* Эталонное решение */
/* 
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 26px;
  margin: 0;
  padding: 30px;
}

.link {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 15px 25px;
  text-transform: uppercase;
}
*/
/* Создадим для первой ссылки два псевдоэлемента с символами «[» и «]». Изначально они полностью прозрачны и сдвинуты к тексту с помощью translateX().

При наведении и фокусе псевдоэлементы становятся полностью непрозрачными и сдвигаются к сторонам ссылки. */
/* .link--1 {
  color: #435a6b;
}

.link--1::before {
  margin-right: 10px;
  content: "[";
  transform: translateX(20px);
}

.link--1::after {
  margin-left: 10px;
  content: "]";
  transform: translateX(-20px);
}

.link--1::before,
.link--1::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.link--1:hover::before,
.link--1:hover::after,
.link--1:focus::before,
.link--1:focus::after {
  opacity: 1;
  transform: translateX(0px);
} */
/* Для второй ссылки потребуется один позиционированный псевдоэлемент шириной 100%, высотой 4px и фоновым цветом #d88f0d. Изначально он полностью прозрачен и сдвинут ниже с помощью translateY().

При наведении и фокусе псевдоэлемент становится полностью непрозрачным и сдвигается наверх. */
/* .link--2 {
  color: #f19f0f;
  padding: 8px 0;
}

.link--2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #d88f0d;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.3s;
}

.link--2:hover::after,
.link--2:focus::after {
  opacity: 1;
  transform: translateY(0px);
} */
/* Для третьей ссылки потребуются дополнительная обёртка в виде тега span и data-атрибут data-hover для хранения появляющегося текста hovered. Этот текст будет позиционирован ниже span.

При наведении и фокусе span сдвигается наверх с помощью transform: translateY, текст псевдоэлемента становится видим. */
/* .link--3 {
  color: #cd4436;
  overflow: hidden;
  padding: 0 4px;
  height: 1em;
}

.link--3 span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}

.link--3 span::before {
  content: attr(data-hover);
  position: absolute;
  top: 100%;
  font-weight: 700;
}

.link--3:hover span,
.link--3:focus span {
  transform: translateY(-100%);
} */
/* У четвёртой ссылки создадим два позиционированных псевдоэлемента шириной 45px, высотой 2px, фоновым цветом как у текста и прозрачностью 0,2. Изначально псевдоэлементы развёрнуты на 90 градусов и расположены вертикально.

При наведении и фокусе псевдоэлементы сдвигаются, поворачиваются и становятся непрозрачными. */
/* .link--4 {
  color: #435a6b;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
}

.link--4::before,
.link--4::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  background: #435a6b;
  pointer-events: none;
  opacity: 0.2;
  transition: all 0.3s;
}

.link--4::before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.link--4::after {
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: 100% 0;
}

.link--4:hover::before,
.link--4:focus::before {
  left: 50%;
  transform: rotate(0deg) translateX(-50%);
  opacity: 1;
}

.link--4:hover::after,
.link--4:focus::after {
  right: 50%;
  transform: rotate(0deg) translateX(50%);
  opacity: 1;
} */
/* У пятой ссылки также есть два псевдоэлемента равного ей размера и с рамкой. У первого псевдоэлемента рамка тёмного цвета и изначально не смещена. У второго рамка цвета текста, а сам псевдоэлемент прозрачный и сдвинут по диагонали направо и вверх.

При наведении и фокусе первый псевдоэлемент уезжает по диагонали вниз и влево и становится прозрачным, а второй псевдоэлемент становится непрозрачным и занимает его место. */
/* .link--5 {
  padding: 10px 20px;
  color: #0e83cd;
}

.link--5::before, .link--5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #07446a;
  transition: transform 0.3s, opacity 0.3s;
}

.link--5::after {
  border-color: #0e83cd;
  opacity: 0;
  transform: translateY(-7px) translateX(6px);
}

.link--5:hover::before,
.link--5:focus::before {
  opacity: 0;
  transform: translateY(5px) translateX(-5px);
}

.link--5:hover::after,
.link--5:focus::after {
  opacity: 1;
  transform: translateY(0px) translateX(0px);
} */