*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 26px;
  margin: 0;
  padding: 30px;
}

.link {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 15px 25px;
  text-transform: uppercase;
}

.link--1 {
  color: #435a6b;
}

.link--1::before {
  content: "[";
  left: -7px;
}

.link--1::after {
  content: "]";
  right: -7px;
}

.link--1::before,
.link--1::after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease 0.1s;
}

.link--1:hover::before,
.link--1:focus::before {
  opacity: 1;
  transform: translateX(-9px);
  transition: opacity 0.1s ease, transform 0.3s ease 0.1s;
}

.link--1:hover::after,
.link--1:focus::after {
  opacity: 1;
  transform: translateX(9px);
  transition: opacity 0.3s ease, transform 0.3s ease 0.1s;
}

.link--2 {
  color: #f19f0f;
  padding: 8px 0;
}

.link--2::before {
  content: "";
  background-color: #d88f0d;
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.link--2:hover::before {
  opacity: 1;
  transform: translateY(0);
}

.link--3 {
  color: #cd4436;
  padding: 0 4px;
  height: 1em;
}

.link--4 {
  color: #435a6b;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
}

.link--5 {
  padding: 10px 20px;
  color: #0e83cd;
}
